/* Google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rokkitt:wght@100;200;300;400;500;600&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic websitstyles */
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Rokkitt", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* make main take up space and push footer down */
    flex: 1 auto;
    margin-top: 76.67px;
    display: flex;
    flex-direction: column;
}

    /* Hero section styles */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/Drone\ in\ flight\ 1.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(39, 245, 70, 0.427);
    font-size: 120%;
    position: absolute;
    width: 80%;
    min-height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    bottom: 40px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* About section */
#about {
    width: 90%;
    margin: 20px auto;
}

#about h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 180%;
}

#history>div,
#services>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#company p {
    padding: 0 20px;
}

#company hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/* Services section styles */
#services {
    height: 600;
    width: 100%;
    padding: 0 20px;
}

#services-cover-text {
    background-color: rgba(39, 245, 70, 0.427);
    font-size: 120%;
    position: absolute;
    width: 80%;
    min-height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    bottom: 40px;
}


#three-d {
    background: url("../images/Digital\ elevation\ model\ of\ a\ quarry\ in\ Ireland_1\ \(1\).png") no-repeat center/cover;
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
}

#three-d div {
    background-color: rgba(39, 245, 70, 0.708);
    font-size: 100%;
    position: absolute;
    width: 80%;
    min-height: 150px;
    padding: 10px;
    bottom: 40px;
    color: black;
}

#images {
    background: url("../images/Orthorectified\ photomosaic\ of\ a\ quarry\ in\ Ireland\ from\ UAV\ aerial\ images\ \(1\).png") no-repeat center/cover;
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
}

#images div {
        background-color: rgba(39, 245, 70, 0.708);
            font-size: 100%;
            position: absolute;
            width: 80%;
            min-height: 150px;
            padding: 10px;
            bottom: 40px;
            color: black;
}

/* Gallery page */
#uav-images img {
    width: 100%;
}

/* Case-Studies page */
#case-studies {
    width: 90%;
    margin: 20px auto;
}

#case-studies hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}
#case-studies h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 180%;
}

#project {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#details h4 {
    margin-bottom: 20px;
    text-align:
 center;
}

#details > div > p {
    margin-top: 20px;
}

#datasets > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#details > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#details p {
    padding: 0 20px;
}
.map > img {
    width: 100%;
    margin-top: 20px;
}
.map > p {
    width: 100%;
    font-style: italic;
    padding: 0 0 !important;
    text-decoration: underline;
}

/* Contact page */
/* Form */
#contact {
    background-image: url("/assets/images/Photomosaic\ from\ UAV.webp");
    background-size: cover;
    background-position: 50%;
    padding: 20px 10% 10px 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.5);
    padding: 30px;
}

#contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

form>input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

::placeholder {
    color: aqua;
}

/* Customise checkboxes */
/* Customise the label */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a green background color */
.container:hover input~.checkmark {
    background-color: #067354;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End of check boxes */

.buttons>div>input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Submit botton */
.send {
    padding: 15px 30px;
    border-radius: 2px;
    margin-top: 20px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/* Confirmation page */
#thanks {
    background-image: url("../images/Wicklow\ Quarry\ 3D\ Hillshade\ Model.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 600px;
    color: #ffffff;
    text-align: center;
    display: flex;
    }

#thanks-text {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 30px 10px 0 10px;
    margin-top: 50px;
    position: absolute;
    min-height: 300px;
    width: 80%;
    font-size: 120%;
    left: 30px;
}

#thanks-text  h2 {
    color: #ffffff;
}

#thanks-text  div {
    margin-bottom: 40px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Social networks icons */
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query landscape phones (576px and larger) */
@media screen and (min-width: 576px) {
    #uav-images {
        column-count: 2;
        column-gap: 0;
    }

}

/* Media query tablets and larger */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* push main content down to accomodate larger header */
        margin-top: 75px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 20px;
        bottom: 180px;
    }

    /* Gallery */
    #uav-images {
        column-count: 3;
    }

    /* Request contact section */
    #contact {
        background-position: center;
        position: relative;
    }

    /* Contact Form */
    #contact-form{
        max-width: 600px;
    }

    form > input:hover {
        border-color: #f16c6b;
    }

    .send:hover {
        background-color: #fafafa;
        color: #f16c6b;
    }

    /* Confirmation page */
    #thanks-text div {
        margin-top: 45px;
    }

}

/* Large devices Laptops and desktops, 992px and larger */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #logo {
        font-size: 280%;
    }

    #cover-text {
        width: 300px;
        right: 20px;
        bottom: 80px;
    }

/* Gallery */
    #uav-images {
        column-count: 4;
    }
}